# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  @PATH_TO_POKY@/meta \
  @PATH_TO_POKY@/meta-poky \
  @PATH_TO_POKY@/meta-yocto-bsp \
  @PATH_TO_POKY@/meta-openembedded/meta-oe \
  @PATH_TO_POKY@/meta-openembedded/meta-python \
  @PATH_TO_POKY@/meta-openembedded/meta-networking \
  @PATH_TO_POKY@/meta-sunxi \
  @PATH_TO_POKY@/meta-rte \
  "
