[Unit]
Description=RTE REST API server
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/RteCtrl
Restart=on-failure

[Install]
WantedBy=multi-user.target
